.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  padding: 20px;
}

.option {
  margin: 0 10px;
  cursor: pointer;
}

.option h1 {
  font-size: 1.5em;
  margin: 0;
  padding: 10px;
  border-radius: 5px;
}

.option h1.active {
  background-color: #3498db;
  color: white;
}
