.textarea-container {
    margin: 10rem;
  }
  
  .custom-textarea {
    width: 100%;
    height: 450px;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #3498db;
    border-radius: 5px;
    box-sizing: border-box;
  }
  