.textarea-container {
    margin: 10rem;
    width:60%;
  }
  
  .custom-textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #3498db;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  /* .wordCountTitle{
    text-align: center;
  } */